p{background-color: chartreuse;
font-size: 25px;}
img{

    width: 400px;
    border: 20px solid;color: crimson;

}
p{border: 20px solid coral;
font-size: 30px ;}

h1{font-size: xx-large; color: cornflowerblue;}
h1{text-align:center ;}


